<html>
  <head>
    {% if title %}
    <title>{{title}} - Main</title>
    {% else %}
    <title>TALONS</title>
    {% endif %}
  </head>
  <body>
    <div>Menu: <a href="/index">Home</a> | <a href="https://docs.google.com/document/d/1eNGfF_fXMMii2D0deCg01L-Hwkucu-JiM_AJmyaskS4/edit?usp=sharing">REST API</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>